/* ABC fonts */
@font-face {
  font-family: "ABCSans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Regular"), url("./abcsans-regular.woff") format("woff");
}
@font-face {
  font-family: "ABCSans Black";
  font-style: normal;
  font-weight: normal;
  src: local("ABCSans Black"), url("./abcsans-black.woff") format("woff");
}

:root {
  font-size: 1em;
  font-family: "ABCSans Regular", "Arial", sans-serif;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(238, 238, 238);
}
#container {
  padding: 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: column;
}
#title {
  font-weight: bold;
  font-size: 1.25rem;
  color: #1C1C1C;
  margin: 0 0 1rem 0;
}
#table .row {
  display: flex;
}
.row:nth-child(even) {
  background-color: lightgrey;
}
.row div:first-child {
  min-width: 1.25rem;
}
.row div:nth-child(2) {
  margin: 0 .75rem;
  width: 100%;
  height: 1.25rem;
}
.row div:last-child {
  font-family: "ABCSans Black", "Arial Black", sans-serif;
  margin-right: 5px;
}
.row.confirmed div:first-child {
  background-color: #009CBF;
}
.row.recovered div:first-child, .layer.recovered {
  background-color: #00B395;
  fill: #00B395;
}
.row.infected div:first-child, .layer.infected {
  background-color: #FFB300;
  fill: #FFB300;
}
.row.deaths div:first-child, .layer.deaths {
  background-color: #FF6100;
  fill: #FF6100;
}
#chart {
  margin-top: 1rem;
  height: 100%;
}
#axisGroup path {
  stroke: none;
}
#axisGroup text {
  fill: #1C1C1C;
  font-size: .7rem;
}
